/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* color: #222; */
  font-size: 1em;
  line-height: 1;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/******** base styles ********/
body {
  font-family: 'Lora', serif;
  font-size: 16px;
  letter-spacing: -0.80px;
}

a {
  color: #d3684c;
}

input {
  outline: none;
}

h1,
p {
  margin: 0;
}

h1 {
  color: #ffffff;
}

.footer__newsletter-wrapper,
h3, 
h4,
p {
  font-family: 'Jost', sans-serif;
  letter-spacing: 1px;
}

ul {
  list-style: none;
  padding-left: 0;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

h4,
.footer__copyright-text {
  font-size: 14px;
}

/** header **/
/* remove desktop header */
.desktop-header {
  display: none;
}

.mobile-first-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 44px;
  padding: 10px 20px 10px 20px;
  background-color: #faf8f3;
}

img.dylpops-logo {
  max-height: 160%;
  margin-top: -8px;
}

.header__menu-icon,
.header__cart-icon {
  padding-top: 4px;
  color: #d3684c;
}

.header__menu-icon a,
.header__cart-icon a {
  color: #d3684c;
}

/** footer **/
/* footer wrapper */
.footer__content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  color: #d3684c;
}

/* footer newsletter */
.footer__newsletter-wrapper {
  margin: 0;
  padding: 20px 0 20px 0;
}

.footer__newsletter-wrapper h3 {
  margin: 0;
  padding-bottom: 20px;
}

.input__email {
  padding: 10px 10px 10px 10px;
  border: 0;
  border-bottom: 1px solid #d3684c;
  width: 100%;
}

input::placeholder { 
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #e9c2b9;
}

/* footer about us */
.footer__about-us-wrapper {
  padding: 10px 0 25px 0;
}

.footer__about-us-wrapper h3 {
  margin: 0;
  padding-bottom: 25px;
}

.footer__about-us-wrapper p {
  width: 98%;
  margin: 0;
  padding-bottom: 16px;
  font-family: 'Lora', serif;
  line-height: 1.3;
}

.footer__proceeds-container {
  padding: 10px 12px 10px 12px;
  border: 1px solid #d3684c;
}

.footer__proceeds-container h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
}

.footer__proceeds-container h4 a {
  line-height: 1.2;
  color: #d3684c;
}

/* footer link columns */
.footer_link-columns {
  display: flex;
  flex-flow: row wrap;
}

.footer__link-container {
  width: 50%;
  margin-bottom: 20px;
}

.footer__link-container h3 {
  margin: 0;
}

.footer__link-container ul li {
  line-height: 2;
}

/* footer copyright */
.footer__copyright-text {
  padding: 8px 0 8px 0;
  text-align: center;
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

/******** homepage ********/
/* hero section */
.hero-section {
  background-image: url(../img/dylpops-mobile-image-hero.jpeg);
  background-size: cover;
  background-position: center;
  height: 440px;
  width: 100%;
}

.hero__type-heading-1 {
  width: 88%;
  padding: 165px 0 20px 20px;
  color: #ffffff;
  font-size: 42px;
  font-weight: lighter;
}

.btn__shop {
  margin-left: 20px;
  padding: 13px 27px 13px 27px;
  color: #ffffff;
  font-size: 18px;
  background-color: hsl(11, 51%, 64%);
  border: solid 1px #ffffff;
  border-radius: 100px;
  box-shadow: 2.5px 2.5px 0 #ffe0d1;
}

/* aside */
.aside-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 38px 20px 38px 20px;
  background-color: #efece5;
}

.aside__type-heading-2 {
  margin: 0;
  text-align: center;
  font-size: 29px;
  font-weight: lighter;
  color: #d28573;
  line-height: 1.2em;
}

/* collection */
.featured-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.featured-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fcfbf7;
}

.featured-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d28573;
  margin: 20px;
  padding: 20px 10px 20px 10px;
  color: #ffffff;
}

.featured__small-heading {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
  padding-bottom: 5px;
}

.featured__type-heading-3 {
  margin: 0;
  padding-bottom: 15px;
  font-size: 28px;
  font-weight: lighter;
}

.featured__description-text {
  font-size: 15px;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.btn__shop-bundles {
  padding: 13px 27px 13px 27px;
  color: #ffffff;
  font-size: 18px;
  background-color: #e5b4a5;
  border: solid 1px #ffffff;
  border-radius: 100px;
  box-shadow: 2.5px 2.5px 0 #ffe0d1;
  text-align: center;
}

.featured-collection-2 .featured-details {
  background-color: #dcb6a7;
}

.featured-collection-3 .featured-details {
  color: #d28573;
  background-color: #f0e8d9;
}

.featured-collection-2 .btn__shop-bundles,
.featured-collection-3 .btn__shop-bundles {
  background-color: hsl(11, 51%, 64%);
  border: solid 1px #ffffff;
  border-radius: 100px;
  box-shadow: 2.5px 2.5px 0 #ffe0d1;
}

/* about us */
.about-us-section {
  background-color: #d28573;
}

.about-image_text-wrapper {
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.about-image__type-heading-2 {
  margin: 0;
  text-align: center;
  font-size: 29px;
  font-weight: lighter;
}

.about-image__p-text {
  padding: 20px 5px 20px 5px;
  text-align: center;
  line-height: 1.6em;
}

.btn__our-story {
  padding: 13px 27px 13px 27px;
  color: #ffffff;
  font-size: 18px;
  background-color: #e5b4a5;
  border: solid 1px #ffffff;
  border-radius: 100px;
  box-shadow: 2.5px 2.5px 0 #ffe0d1;
}

.about-image__image-container {
  background-image: url(..//img/dylpops-about-us-img.png);
  background-position: center;
  background-size: cover;
  height: 312px;
  width: 100%;
}

/******** account login page ********/
.account-section {
  padding: 40px 20px 40px 20px;
  border-bottom: solid 1px #efece5;
  color: #d28573;
}

.account__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faf8f2;
  padding: 40px 20px 40px 20px;
}

.account_type-heading-1 {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: lighter;
  text-align: center;
  color: #d28573;
}

.account__login-container p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.account__input {
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 10px 10px 11px 16px;
  border-radius: unset;
  border: 1.5px solid #d28573;
  background-color: #faf8f2;
}

.account-section input::placeholder { 
  font-size: 11px;
  color: #e9c2b9;
  font-family: 'Jost', sans-serif;
  letter-spacing: 1px;
}

.btn__sign-in {
  width: 100%; 
  margin-bottom: 20px;
  padding: 13px 27px 13px 27px;
  color: #ffffff;
  font-size: 18px;
  background-color: hsl(11, 51%, 64%);
  border: solid 1px #ffffff;
  border-radius: 100px;
  box-shadow: 2.5px 2.5px 0 #ffe0d1;
}

.account__login-links {
  text-align: center;
  font-size: 13px;
}

.account__login-links a {
  letter-spacing: .5px;
  color: #d28573;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }
 
 /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
 
 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
 }
 
 /*
  * Extends the .sr-only class to allow the element to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
 
 .sr-only.focusable:active,
 .sr-only.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }
 
 /*
  * Hide visually and from screen readers, but maintain layout
  */
 
 .invisible {
   visibility: hidden;
 }
 
 /*
  * Clearfix: contain floats
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
 
 .clearfix::before,
 .clearfix::after {
   content: " ";
   display: table;
 }
 
 .clearfix::after {
   clear: both;
 }
 
 /* ==========================================================================
   Media Queries for Responsive Design. 
   These examples override the primary ('mobile first') styles.
 ========================================================================== */
@media only screen and (min-width: 768px) {
  /* style adjustments for tablet*/
  /******** base styles ********/
  h3 {
    font-size: 14px;
  }

   p {
    font-size: 18px;
   }

  /** header **/
  .mobile-first-header {
    padding: 10px 40px 10px 40px;
  }

  /** footer **/
  .footer__content-wrapper {
    padding-left: 40px;
    padding-right: 20px;
  }

  /* footer newsletter */
  .footer__newsletter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .footer__newsletter-wrapper h3 {
    padding: 0;
  }

  .input__email {
    width: 47%;
  }

  /* about us */
  .footer__columns {
    display: flex;
  }

  .footer__about-us-wrapper {
    width: 52%;
    padding-top: 0;
  }
  
  .footer__about-us-wrapper p {
    width: 100%;
    margin: 0;
  }

  .footer__proceeds-container {
    width: 95%;
    margin: 0;
  }

  .footer_link-columns {
    width: 52%;
    justify-content: flex-end;
  }

  .footer__link-container {
    width: 32%;
  }

  .footer__link-container ul li {
    font-size: 18px;
  }

  /** homepage **/
  /* hero section */
  .hero-section {
    background-image: url(../img/dylpops-tablet-desktop-hero-img.png);
    height: 788px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .hero__type-heading-1 {
    width: 90%;
    padding: 100px 135px 20px 135px;
    text-align: center;
  }
  
  .btn__shop {
    width: 142px;
    margin: 0 0 80px 0;
  }

  /* collection section */
  .featured-section {
    margin: 40px 20px 40px 20px;
  }

  /* about us section */
  .about-image__image-container {
    height: 640px;
  }

} 

@media only screen and (min-width: 1200px) {
  /* style adjustments for desktop*/
  /******** base styles ********/
  /** header **/
  /* remove mobile first header and add desktop header */
  .mobile-first-header {
    display: none;
  }

  .desktop-header {
    display: contents;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 88px;
    padding: 20px 40px 20px 40px;
    background-color: #faf8f3;
  }

  .header__menu ul, 
  .header__account ul {
    display: flex;
    align-items: center;
  }

  .nav__menu-list li {
    padding-right: 20px;
  }

  .nav__account-list li {
    padding-left: 20px;
  }

  img.dylpops-logo-desktop {
    max-height: 170%;
    margin-top: -15px;
  }

  .nav__menu-list {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .nav__account-list {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .nav__menu-list li, 
  .nav__account-list li {
    font-family: 'Lora', serif;
    font-size: 20px;
  }

  .nav__menu-list li a, 
  .nav__account-list li a {
    text-decoration: none;
    color: #d3684c;
    font-weight: 700;
  }

  /** homepage **/
  /* hero section */
  .hero-section {
    background-image: url(../img/dylpops-tablet-desktop-hero-img.png);
    height: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .desktop__hero-column {
    width: 50%;
  }

  .hero__type-heading-1 {
    width: 100%;
    padding: 95px 0 20px 0;
    text-align: center;
    font-size: 54px;
  }
  
  .btn__shop {
    width: 142px;
    margin: 0 0 80px 0;
  }

  .hero__button-container {
    text-align: center;
  }

  /* aside */
  .aside-section {
    padding: 50px 0 50px 0; 
  }

  .aside__type-heading-2 {
    font-size: 49px;
  }

  /* shop collection */
  .featured-details {
    width: 100%;
  }

  /* about us */
  .about-us-section {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-image__image-container {
    height: 600px;
  }

  .about-image_text-wrapper {
    width:100%;
    justify-content: center;
  }

  .about-image__type-heading-2 {
   font-size: 49px; 
  }

  .about-image__p-text {
    padding: 20px 35px 35px 35px;
    text-align: center;
  }

  .footer__about-us-wrapper {
    padding-right: 40px;
  }

  .footer__proceeds-container {
    width: 85%;
  }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles. Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}